<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lodging_Managment_System.Properties.Settings.Lodging_Practice_DBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Lodging_Practice_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Lodging_Managment_System.Properties.Settings.Lodging_Managment_System_DBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Lodging_Managment_System_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>